PORT=8081
SPRING_DATASOURCE_URL=jdbc:mysql://db-user:3306/users_db
SPRING_DATASOURCE_USERNAME=app_user
SPRING_DATASOURCE_PASSWORD=app_pass
JWT_SECRET=replace_with_minimum_32_char_random_string
JWT_EXPIRES_IN=86400000
